<html>
<head>

<style>
td.aboveNormal {
  color: #00FF00;
}
td.belowNormal {
  color: #FF0000;
}

.twiceNormal, .halfNormal {
  font-weight: bold;
}

td {
  text-align: right;
  align: right;
  padding-left: 15px;
  padding-right: 15px;
}

tr.averageRow td {
  font-weight: bold;
  align: center;
  text-align: center;
}

span.source {
  font-size: 8px;
}

</style>
<script src="https://fb.me/react-0.12.0.js"></script>
<script src="https://fb.me/JSXTransformer-0.12.0.js"></script>
<script type="text/jsx">
/** @jsx React.DOM */
var monthData = {{ month_data }};
var years = {{ years }};
var averages = {{ averages }};
var totals = {{ totals }};

var YearRow = React.createClass({
  render: function() {
    var monthCells = [];
    for (var i = 1; i <= 12; i++) {
      var currMonthYearData = null;
      var currYear = this.props.year;
      for (var m = 0; m < this.props.allData.length; m++) {
        var currData = this.props.allData[m];
        if (currData.year == currYear && currData.month == i) {
          currMonthYearData = currData;
          break;
        }
      }

      if (currMonthYearData) {
        monthCells.push(<YearMonthCell data={currMonthYearData}  key={i} />);
      }
      else {
        var empty = true;
        monthCells.push(<YearMonthCell isEmpty={empty} key={i}/>);
      }
    }

    return (<tr><td>{this.props.year}</td> {monthCells}</tr>);
  }
});

var YearMonthCell = React.createClass({
  render: function() {
    if (this.props.isEmpty) {
      return (<td>-</td>);
    }
    var avg = this.props.data.avg;
    var rain = this.props.data.rain;
    var tdclass = "normal";

    var percentOfNorm = 100 - (rain / avg) * 100;
    if (avg < rain) {
      tdclass = "aboveNormal";
    }
    else if (avg > rain) {
      tdclass = "belowNormal";
    }
    if (percentOfNorm > 50) { // 50% of normal
      tdclass += " halfNormal";
    }
    else if (percentOfNorm < -100) { // twice normal
      tdclass += " twiceNormal";
    }
    return (<td className={tdclass}>{rain}</td>);
  }
});

var MonthTotalTable = React.createClass({
  render: function() {
    var headerRow = ["Year", "Jan", "Feb", "March", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
    var headerElems = [];
    for (var i = 0; i <= 13; i++) {
      headerElems.push(<td><b>{headerRow[i]}</b></td>);
    }

    var yearRows = [];
    var numYears = this.props.years.length;
    for (var y = 0; y < numYears; y++) {
      var currYear = this.props.years[y];
      var rowKey = "year" + currYear;
      yearRows.push(<YearRow year={currYear} allData={this.props.months} key={rowKey} />);
    }

    var avgRowTds = [];
    avgRowTds.push(<td>Average</td>);
    for (var m = 1; m < 12; m++) {
      avgRowTds.push(<td>{this.props.averages[m]}</td>);
    }
    return (
      <div id="containingDiv">
        <h2>Rainfall data per month for 94043</h2>
        <table>
          <tr> {headerElems}
          </tr>
          { yearRows }
          <tr className="averageRow">{avgRowTds}</tr>
         </table>
         <br/><br/><br/><span className="source">data scraped from www.wunderground.com /history/airport/KNUQ</span>
       </div>
    );
  }
});

React.renderComponent(
  <MonthTotalTable  months={monthData} years={years.years} averages={averages.averages}/>, document.document.getElementById("mainBodyDiv"));
</script>
</head>
<body>
<div id="mainBodyDiv">
</div>
<div id="runningTotalsDiv"></div>
</body>
</html>
