<html>
<head>

<style>
td.aboveNormal {
  color: #0000FF;
}
td.belowNormal {
  color: #FF0000;
}

.twiceNormal, .halfNormal {
  font-weight: bold;
}

td {
  text-align: right;
  align: right;
  padding-left: 15px;
  padding-right: 15px;
}

tr.averageRow td {
  font-weight: bold;
  align: center;
  text-align: center;
}

span.source {
  font-size: 8px;
}

</style>
<script src="https://fb.me/react-0.12.0.js"></script>
<script src="https://fb.me/JSXTransformer-0.12.0.js"></script>
<script type="text/jsx">
/** @jsx React.DOM */
var zipsToUrls = {{ zipsToUrls }};
var l = {{ l}};
var Zips = React.createClass({
  render: function() {
    var items = [];
    for (var i = 0; i < this.props.zipsToUrls.length; i++) {
      var currZip = this.props.zipsToUrls[i];
      var item = <li><a href={"/home/?zip=" + currZip.zip}>{currZip.zip}</a></li>;
      items.push(item);
    }
    return <div>All zip codes with data<br/><ul>{items}</ul></div>;
  }
});
React.renderComponent(
  <Zips zipsToUrls={zipsToUrls} />,
   document.getElementById("zips"));
</script>
<script type="text/jsx">
{% if hasData %}
/** @jsx React.DOM */
var monthData = {{ month_data }};
var years = {{ years }};
years.years.sort();
var averages = {{ averages }};
var totals = {{ totals }};
var zip = {{ zip }};
var allZipsToUrls = {{ zipsToUrls }};
var YearRow = React.createClass({
  render: function() {
    var monthCells = [];
    for (var i = 1; i <= 12; i++) {
      var currMonthYearData = null;
      var currYear = this.props.year;
      for (var m = 0; m < this.props.allData.length; m++) {
        var currData = this.props.allData[m];
        if (currData.year == currYear && currData.month == i) {
          currMonthYearData = currData;
          break;
        }
      }

      if (currMonthYearData) {
        monthCells.push(<YearMonthCell data={currMonthYearData} averages={this.props.averages} month={i} key={i} />);
      }
      else {
        var empty = true;
        monthCells.push(<YearMonthCell isEmpty={empty} key={i}/>);
      }
    }

    return (<tr><td>{this.props.year}</td> {monthCells}</tr>);
  }
});

var YearMonthCell = React.createClass({
  render: function() {
    if (this.props.isEmpty) {
      return (<td>-</td>);
    }
    var month = this.props.month;
    var avg = this.props.averages[month];//this.props.data.avg;
    var rain = this.props.data.rain;
    var tdclass = "normal";

    var percentOfNorm = 100 - (rain / avg) * 100;
    if (avg < rain) {
      tdclass = "aboveNormal";
    }
    else if (avg > rain) {
      tdclass = "belowNormal";
    }
    if (percentOfNorm > 50) { // 50% of normal
      tdclass += " halfNormal";
    }
    else if (percentOfNorm < -100) { // twice normal
      tdclass += " twiceNormal";
    }
    rain = Math.round(rain * 100) / 100;
    return (<td className={tdclass}>{rain}</td>);
  }
});
var getHeaderElems = function(firstElemName) {
    var headerRow = ["Jan", "Feb", "March", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
    var headerElems = [];
    headerElems.push(<td><b>{firstElemName}</b></td>);
    for (var i = 0; i <= 13; i++) {
      headerElems.push(<td><b>{headerRow[i]}</b></td>);
    }
    return headerElems;

};

var MonthTotalTable = React.createClass({
  handleAvgSelectChange: function(event) {
    var selVal = event.target.value;
    if (selVal === "Average") {
      this.setProps({averages: this.props.dataAverages});
      return;
    }
    var newAvgs = {};
    for (var i = 0; i < this.props.months.length; i++) {
      if (this.props.months[i].year == selVal) {
        newAvgs[this.props.months[i].month] = this.props.months[i].rain;
      }
    }
    this.setProps({averages: newAvgs});
  },
  render: function() {
    var headerElems = getHeaderElems("Year");
    var yearRows = [];
    var numYears = this.props.years.length;
    var opts = [];
    opts.push(<option name="Average" value="Average">Average</option>);
    for (var y = 0; y < numYears; y++) {
      var currYear = this.props.years[y];
      var rowKey = "year" + currYear;
      yearRows.push(<YearRow year={currYear} allData={this.props.months} averages={this.props.averages} key={rowKey} />);
      opts.push(<option name={currYear} value={currYear}>{currYear}</option>);
    }

    var avgRowTds = [];
    avgRowTds.push(<td>Average</td>);
    for (var m = 1; m <= 12; m++) {
      avgRowTds.push(<td>{this.props.averages[m]}</td>);
    }
    var dataAvgRowTds = [];
    dataAvgRowTds.push(<td>Average</td>);
    for (var m = 1; m <= 12; m++) {
      dataAvgRowTds.push(<td>{this.props.dataAverages[m]}</td>);
    }
    return (
      <div id="containingDiv">
        <h2>Rainfall data per month for 94043</h2>
        <table>
          <tr> {headerElems}
          </tr>
          { yearRows }
          <tr className="averageRow">{avgRowTds}</tr>
          <tr className="dataAverageRow">{dataAvgRowTds}</tr>
         </table>
         <br/><br/>
         <select id="avgSelect" onChange={this.handleAvgSelectChange}>
          { opts }
         </select>
         <br/><br/>
         <br/><br/><br/><span className="source">data scraped from www.wunderground.com /history/airport/KSFO</span>
       </div>
    );
  }
});

React.renderComponent(
  <MonthTotalTable  months={monthData} years={years.years} averages={averages.averages} dataAverages={averages.averages}/>, document.getElementById("mainBodyDiv"));

var RunningTotalsTable = React.createClass({
  render: function() {
    var headerRow = getHeaderElems("Year");
    var avgsRow = [];
    var avgs = {};
    for (var i = 1; i <= 12; i++) {
      var currAvg = this.props.totals.runningTotals[i];
      currAvg = Math.round(currAvg * 100) / 100;
      avgsRow.push(<td>{currAvg}</td>);
      avgs[i] = currAvg;
    }
    this.props.averages = avgs;
    this.props.dataAverages = avgs;
    var numYears = this.props.years.length;
    var yearRows = [];
    for (var y = 0; y < numYears; y++) {
      var currYear = this.props.years[y];
      var rowKey = "year" + currYear;
      yearRows.push(<YearRow year={currYear} averages={avgs} allData={this.props.totals.monthTotals} key={rowKey} />);
    }
    return (
      <div id="runningTotals">
        <h2>Running totals for seasons</h2>
        Running totals start in July and are cumulative through June of the next year.<br/>
        <table>
          <tr>{headerRow}</tr>
          {yearRows}
          <tr><td>Average</td>
            {avgsRow}
          </tr>
        </table>
      </div>
    );
  }
});

React.renderComponent(
  <RunningTotalsTable totals={totals} years={years.years} />,
   document.getElementById("runningTotalsDiv"));
{% endif %}
</script>
</head>
<body>
<div id="zips">

</div>
<div id="mainBodyDiv">
</div>
<div id="runningTotalsDiv"></div>
<br/><br/>

</body>
</html>
